<div class="section">
  <div class="section__title">
    <span>Education</span>
    <button class="btn btn--light btn--circle ">
      <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
    </button>
  </div>
  <div class="section__container">
    <div class="section__container__info">
      <div class="post-info">
        <img
          class="section__container__img"
          src="assets/iti.png"
          alt=""
          srcset=""
        />
        <div class="post-info__content">
          <h2>Student</h2>
          <div>Oct-2019</div>
          <div>Location</div>
          <div>9-months trainee</div>
          <div>Web&user intefrace</div>
        </div>
      </div>
    </div>
    <button class="btn btn--light btn--circle m-2x">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
  </div>
</div>
