$nav-background: #1e3752;
// #151831;
$nav-color: #f4eeff;
$hover-color: #b0afb4;
$Borders: rgb(219, 219, 219);
//$Borders: #918f99;
$primary-color: #0073b1;
$secondary-color: #707070;
$dark-blue: #006097;
