@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  font-size: 62.5%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif; }

.container {
  width: 50%;
  margin: auto; }

.m-2x {
  margin: 0.5rem; }

.m-3x {
  margin: 1.5rem; }

.bold {
  font-weight: 600; }

.lighter {
  font-weight: lighter; }

.p-lg {
  padding: 1.5rem; }

.p-sm {
  padding: 0.2rem 0.5rem; }

.p-xlg {
  padding: 1.7rem; }

.p-xxlg {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 600;
  padding: 0.2rem 1.5rem; }

.p-md {
  padding: 1.2rem 0.5rem; }

.m-l {
  margin-left: 3.5rem; }

.m-b {
  margin-bottom: 1.5rem; }

.p-lr {
  padding: 0 1rem; }

.p-xxxlg {
  padding: 2.8rem; }

.f-r {
  float: right; }

.m-t {
  margin-top: 0.8rem; }

* {
  margin: 0;
  padding: 0;
  font-size: 0.8rem; }

.btn {
  text-decoration: none;
  line-height: 2rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  transition-property: background-color, box-shadow, color, border; }
  .btn--secondary {
    color: #fff;
    background-color: #707070; }
    .btn--secondary:hover {
      background-color: #0073b1; }
  .btn--outline-secondary {
    background-color: #fff;
    color: #707070;
    border: 1px solid #707070;
    font-weight: lighter; }
    .btn--outline-secondary:hover {
      border: 3px solid #707070;
      background-color: transparent;
      background-color: rgba(207, 207, 207, 0.25); }
    .btn--outline-secondary .fa-caret-down {
      color: #707070;
      margin-left: 7px; }
  .btn--outline-primary {
    background-color: #fff;
    color: #707070; }
    .btn--outline-primary:hover {
      background-color: none;
      color: #0073b1; }
    .btn--outline-primary .fa-pencil-square-o {
      margin: 10px; }
  .btn--primary {
    color: #fff;
    background-color: #0073b1; }
    .btn--primary:hover {
      background-color: #006097; }
  .btn--light {
    color: #0073b1;
    background-color: transparent; }
    .btn--light .fa-plus {
      margin: 0.5rem; }
    .btn--light:hover {
      background-color: #e5f5fc;
      cursor: pointer; }
  .btn--circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; }
    .btn--circle .fa-pencil {
      font-size: large; }
    .btn--circle--light {
      color: #fff; }
      .btn--circle--light .fa-times {
        font-size: large; }
      .btn--circle--light:hover {
        background-color: #0000001c; }
  .btn--light-secondary {
    font-size: 1.4rem;
    color: #707070;
    background-color: transparent; }
    .btn--light-secondary:hover {
      background-color: #f3f3f3; }
    .btn--light-secondary .fa-thumbs-o-up,
    .btn--light-secondary .fa-comment-o,
    .btn--light-secondary .fa-share {
      margin-right: 6px; }

.side-card {
  width: 100%;
  height: 100%;
  border: 1px solid #283e4a;
  box-shadow: 0.25rem 0.25rem #e6edf1;
  margin: 0.5rem;
  position: relative; }
  .side-card--header {
    border-bottom: 1px solid #283e4a;
    height: 6rem;
    width: 100%; }
    .side-card--header--image {
      width: 100%;
      height: 100%; }
  .side-card--profile {
    width: 6rem;
    height: 6rem;
    border: 1px solid #283e4a;
    border-radius: 50%;
    position: absolute;
    background-image: url(../../Assets/picture.jpg);
    background-size: cover;
    left: 47.3%;
    top: 10%;
    padding: 1rem; }
  .side-card--identify {
    border-bottom: 1px solid #283e4a;
    height: 4.5rem;
    padding-top: 5%;
    text-align: center; }
    .side-card--identify--name {
      font-size: 1.6rem; }
    .side-card--identify--title {
      font-size: 1.2rem;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0.25rem; }
  .side-card--card-info {
    border-bottom: 1px solid #283e4a;
    padding: 1rem; }
    .side-card--card-info--line {
      height: 3rem;
      margin: 1rem; }
      .side-card--card-info--line--text {
        font-size: 1.2rem;
        display: inline-block;
        text-align: left; }
        .side-card--card-info--line--text:hover {
          text-decoration: underline;
          cursor: pointer; }
      .side-card--card-info--line--num {
        font-size: 1.2rem;
        display: inline-block;
        float: right;
        color: #0073b1; }
        .side-card--card-info--line--num:hover {
          text-decoration: underline;
          cursor: pointer; }
  .side-card--saved-items {
    text-align: center; }

.profile {
  margin: 5rem 0rem; }
  .profile--details {
    border: 3px #dbdbdb solid; }
    .profile--details--background {
      border-bottom: 1.5px #dbdbdb solid;
      height: 14rem;
      position: relative; }
      .profile--details--background--img {
        background-size: cover;
        width: 100%;
        height: 14rem; }
    .profile--details--photo {
      margin-left: 5rem;
      border: 1px black solid;
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
      border: 3px solid #dbdbdb;
      position: absolute;
      top: 18rem; }
      .profile--details--photo--img {
        border-radius: 50%;
        width: 100%;
        height: 100%; }
    .profile--details--InfoContainer {
      display: flex;
      justify-content: space-between; }
      .profile--details--InfoContainer--info--name {
        font-size: 1.5rem;
        display: inline-block;
        margin-top: 7rem;
        margin-left: 3rem; }
      .profile--details--InfoContainer--info--jobTitle {
        font-size: 1.5rem;
        font-weight: lighter;
        display: block;
        margin-top: 0.5rem;
        margin-left: 3rem; }
      .profile--details--InfoContainer--info--location {
        font-size: 1rem;
        font-weight: lighter;
        display: inline-block;
        margin-top: 0.5rem;
        margin-left: 3rem; }
      .profile--details--InfoContainer--info--connection, .profile--details--InfoContainer--info--contact {
        display: inline-block;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        font-weight: lighter;
        font-size: 1rem;
        color: #006097; }
      .profile--details--InfoContainer--info a:hover {
        text-decoration: underline;
        cursor: pointer; }
      .profile--details--InfoContainer--moreBtns {
        margin-top: 10px; }
        .profile--details--InfoContainer--moreBtns--edu {
          margin-bottom: 26px;
          margin-top: 28px;
          display: block; }
          .profile--details--InfoContainer--moreBtns--edu--icon img {
            width: 10%;
            height: 10%; }
          .profile--details--InfoContainer--moreBtns--edu--link {
            font-weight: 100;
            text-align: center;
            font-size: 1rem; }
            .profile--details--InfoContainer--moreBtns--edu--link:hover {
              text-decoration: underline;
              color: #006097;
              cursor: pointer; }
        .profile--details--InfoContainer--moreBtns--crud {
          margin-left: 1rem; }

.post {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 83ms;
  margin-bottom: 15px; }
  .post__header {
    padding: 15px; }
  .post__content p {
    padding: 15px; }
  .post__content img {
    width: 100%; }

.link {
  color: #0073b1;
  text-decoration: none; }
  .link:hover {
    text-decoration: underline; }

.post-info img {
  height: 70px; }

.post-info__content {
  display: inline-block;
  padding: 5px; }
  .post-info__content span:nth-of-type(1) {
    color: black; }
    .post-info__content span:nth-of-type(1):hover {
      color: #0073b1;
      text-decoration: underline;
      cursor: pointer; }
  .post-info__content span {
    margin-bottom: 5px;
    display: block;
    color: #707070; }

.post-info__button {
  float: right; }

.count-social {
  padding: 8px 0;
  border-bottom: 1px solid #e6e9ec; }
  .count-social ul li {
    display: inline-block;
    list-style: none;
    margin-left: 5px; }
  .count-social ul li:nth-of-type(1) {
    color: #0073b1; }
    .count-social ul li:nth-of-type(1) :hover li:nth-of-type(3) {
      text-decoration: underline; }
  .count-social ul li:nth-of-type(2) {
    color: red; }
  .count-social ul li:nth-of-type(3) a,
  .count-social ul li:nth-of-type(4) a {
    text-decoration: none; }
  .count-social ul li:nth-of-type(3):hover,
  .count-social ul li:nth-of-type(4):hover {
    text-decoration: underline; }
  .count-social ul .fa-thumbs-up,
  .count-social ul .fa-gratipay {
    font-size: x-large; }

.comment-box {
  background-color: #fff;
  border-top: 1px solid transparent;
  display: flex;
  justify-content: space-around; }
  .comment-box__avatar-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #b3b6b9;
    padding: 3px; }
    .comment-box__avatar-image .fa-user {
      font-size: x-large;
      color: #d9dde0;
      margin-top: 4px;
      padding-left: 8px; }
  .comment-box form input {
    border-color: #3e3e1a38;
    padding: 11px;
    border-radius: 22px; }

.comments-list {
  display: flex;
  margin-top: 16px; }
  .comments-list__header {
    background-color: #f3f6f8;
    width: 100%;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem; }
    .comments-list__header__top {
      padding: 2px 1.5rem;
      display: flex;
      justify-content: space-between; }
      .comments-list__header__top__right {
        color: #707070; }
    .comments-list__header__bottom {
      padding: 2px 1.5rem 20px; }

.section {
  margin-top: 20px;
  border: 3px #dbdbdb solid; }
  .section__title {
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-between; }
    .section__title span {
      font-size: 1.5rem; }
  .section__container {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem; }

.create-post {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 83ms;
  height: 125px;
  margin-bottom: 2rem;
  margin-top: 2rem; }
  .create-post__header {
    background-color: #fff;
    display: flex;
    justify-content: space-between; }
    .create-post__header .icons {
      float: right; }
  .create-post__footer {
    background-color: #f3f6f8;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding: 12px 16px;
    border-radius: 0 0 2px 2px;
    font-size: 1.4rem;
    line-height: 1.42857; }
    .create-post__footer__content {
      color: #707070; }

.add-post {
  min-height: 430px;
  margin-bottom: 8px;
  border: 1px transparent; }
  .add-post__header {
    display: flex;
    padding: 1rem 0rem;
    justify-content: space-between;
    background-color: #0073b1;
    width: 100%;
    height: 50px;
    min-height: 50px;
    color: #fff;
    flex-shrink: 0; }
    .add-post__header h2 {
      color: #fff;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 3rem;
      padding-left: 30px; }
  .add-post__body {
    line-height: 1.42;
    height: 100%;
    outline: 0;
    overflow-y: auto;
    padding: 12px 15px;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word; }
    .add-post__body input[type="text"] {
      border: none;
      outline: none;
      font-size: 1.4rem; }
  .add-post__footer {
    margin: 4rem; }
  .add-post .fa-user-circle-o {
    font-size: -webkit-xxx-large;
    color: grey; }
  .add-post .post-info span {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 600; }
  .add-post .add-post {
    min-height: 430px;
    margin-bottom: 8px;
    border: 1px transparent; }
    .add-post .add-post__header {
      display: flex;
      padding: 1rem 0rem;
      justify-content: space-between;
      background-color: #0073b1;
      width: 100%;
      height: 50px;
      min-height: 50px;
      color: #fff;
      flex-shrink: 0; }
      .add-post .add-post__header h2 {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 3rem;
        padding-left: 30px; }
    .add-post .add-post__body {
      line-height: 1.42;
      height: 100%;
      outline: 0;
      overflow-y: auto;
      padding: 12px 15px;
      tab-size: 4;
      -moz-tab-size: 4;
      text-align: left;
      white-space: pre-wrap;
      word-wrap: break-word; }
      .add-post .add-post__body input[type="text"] {
        border: none;
        outline: none;
        font-size: 1.4rem; }
    .add-post .add-post__footer {
      margin: 4rem; }
    .add-post .add-post .fa-user-circle-o {
      font-size: -webkit-xxx-large;
      color: grey; }
    .add-post .add-post .post-info span {
      font-size: 1.6rem;
      line-height: 1.5;
      font-weight: 600; }

.WholeForm {
  margin: 5rem; }
  .WholeForm button {
    background-color: #0073b1;
    color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    width: 5rem;
    right: 0; }

.BackGroundForm {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.form__section__sp {
  display: inline-block; }

.nav {
  background-color: #283e4a;
  color: #f4eeff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .nav--logo {
    padding-left: 2rem;
    width: 3%; }
    .nav--logo--icon {
      width: 100%; }
  .nav--search--icon {
    padding: 1rem;
    color: #f4eeff; }
  .nav--search--box {
    display: inline-block;
    height: 2rem;
    padding: 0.2rem;
    background-color: #f4eeff;
    border-radius: 0.4rem; }
  .nav--menu {
    display: inline-block;
    padding-left: 15rem;
    list-style: none; }
    .nav--menu--items {
      display: inline-block;
      padding: 1rem;
      font-size: 1rem;
      cursor: pointer;
      transition: color 0.2s;
      -webkit-transition: color 0.2s;
      -moz-transition: color 0.2s;
      -ms-transition: color 0.2s;
      -o-transition: color 0.2s;
      align-items: center; }
      .nav--menu--items:hover {
        color: #b0afb4; }
      .nav--menu--items--icon {
        margin-bottom: 0.7rem;
        text-align: center; }
      .nav--menu--items--link {
        display: block; }
