.side-card {
  width: $card-width;
  height: 100%;
  border: 1px solid $nav-background;
  box-shadow: 0.25rem 0.25rem lighten($color: $nav-background, $amount: 70%);
  margin: 0.5rem;
  position: relative;

  &--header {
    border-bottom: 1px solid $nav-background;
    height: 6rem;
    width: 100%;
    // position: absolute;
    // background-image: url(../../Assets/header.jpg);
    // background-size: cover;
    &--image {
      width: 100%;
      height: 100%;
    }
  }

  &--profile {
    width: item-height($card-height, 20);
    height: 6rem;
    border: 1px solid $nav-background;
    border-radius: 50%;
    position: absolute;
    background-image: url(../../Assets/picture.jpg);
    background-size: cover;
    left: 47.3%;
    top: 10%;
    padding: 1rem;
    // margin: 1rem;
  }

  &--identify {
    border-bottom: 1px solid $nav-background;
    // width: 100%;
    height: 4.5rem;
    padding-top: 5%;
    text-align: center;
    &--name {
      font-size: $font-size-medium;
    }
    &--title {
      font-size: $font-size-small;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0.25rem;
    }
  }

  &--card-info {
    border-bottom: 1px solid $nav-background;
    // width: 100%;
    // height: 6rem;
    padding: 1rem;

    &--line {
      height: 3rem;
      margin: 1rem;
      &--text {
        font-size: $font-size-small;
        display: inline-block;
        text-align: left;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      &--num {
        font-size: $font-size-small;
        display: inline-block;
        float: right;
        color: $text-color;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  &--saved-items {
    text-align: center;
  }
}
